body {
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

#Background {
    position: absolute;
    height: 100%;
    width: 100%;
    
}

#Toilettes {
     
    height: 80%;
    position: absolute;
    top: 10%;
    left: 10vh;
    box-shadow: 5px 5px 5px;
}

#Daisy {
    z-index: 2;  
    height: 25%;
    position: absolute;
    top: 10%;
    left: 55.5%;
    box-shadow: 5px 5px 5px;
 }

#Dialogues {
    z-index: 3; 
    height: 51%;
    position: absolute;
    top: 38%;
    width: 30%;
    left: 48%;
    border-style: solid;
    border-width: 6px;
    border-color: #270001;
    overflow: hidden;
    
}

