body{
    background-color: rgba(18, 18, 18, 0.98);
    background-image:url(../Site/image/2.jpg);
    background-repeat: no-repeat;
    background-size: 750px;
    background-position: center; 
    
}
li{
    color:aliceblue;
    font-family:monospace;
}

div.content div{
    display: inline-block;
    padding-top: 300px;

}

/*actionBox*/

div.Action nav ul{
    list-style-type: none;
    text-align: left;
    display: list-item;
}
div.Action nav ul li{
    font-size:25;

}
div.Action nav ul li button{
    font-size:25;
    text-align: left;
    text-decoration: none;
    
}
div.Action nav ul li a1{
    font-size: 35;
    text-decoration: bold;
}
div.Action nav ul li:hover{
    opacity: 0.3;
}

div.Action{
}
div.Action nav ul li a{
    text-decoration: none;
    color: aliceblue;
}

/*indiceBox*/

div.Indice{
    padding-left: 57%;
}

div.Indice nav ul{
    list-style-type: none;
    display: list-item;
    padding-top: ;

}

div.Indice nav ul{
    width: 140;

}

div.Indice nav ul li{
    font-size:30;
}
div.Indice nav ul li a{
    text-decoration: none;
    color: aliceblue
}
div.Indice nav ul li a:hover{
    opacity: 0.3;
}

div.content div.Indice{
    text-align:right;
    vertical-align:right;
}
div.content footer a {
    font-family: monospace;
    font-size: 18;
}
div.modal1 a{
    font-family: monospace;
    font-size: 25;
}
/*Partir à la recherche*/

footer{
    text-align: center;
    padding-top: 220px;
}

footer a{
    border:1px;
    text-decoration: none;
    color: aliceblue;
    background-color: #5c5a5a;
    background-image: url(image/);
    padding: 15px;
    border-radius: 40%;
    vertical-align: bottom;

}
footer a:hover{
    opacity: 0.3;
}

/*PopUp*/

#myBtn{
    background-color: rgba(92, 90, 90, 0);
    color: aliceblue;
    font-family: monospace;
    border: none;
    font-size: 25;
}
div.modal1{
    position: absolute;
    text-align: center;
    background-color: rgba(26, 26, 26, 0.81);
    font-family: monospace;
    font-size: 25;
    top:150px;
    width: 30%;
    height: 300px;
    transition: 0.5;
    display:;
}
div.modal1{
    color:aliceblue;
}