p{ color: aliceblue;
    text-align: center;
    font-family: monospace;
    font-size: 25;
}
div.intro {
    padding-top: 300px;
}
div.btn {
    text-align: center;
    padding-top: 75px;
}
p.PiedDePage{ 
    color: aliceblue;
    padding-top: 195px;
font-family: monospace;

}

body{ background-color: black;

}
footer{
    text-align: center;
    padding-top: 20%;
}
h6{
    color: aliceblue;
}

a{
    color: aliceblue;
    text-decoration: none;
    font-family: monospace;
    font-size: 25;
   
}
