body {
	cursor: cell;
text-align: center;
font-weight: bold;
font-size: 20px;
}

h1 {font-style: serif;
font-size: 40px;
text-align: center;
}

h2 {font-style: serif;
font-size: 20px;
text-align: center;}