body {

  margin: 0px;
}


.loader {
  position: fixed;
  z-index: 200;
  top: 0;
  margin-top: 0;
  left: 0;
  width: 100vw;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 1;
  transition: 5s;
  z-index: 999;

}

.loader > img {
  width: 100vw;
  height: 100vh;
  top :0;
  margin-top: 0;
  object-fit: cover;

}


.pano-image {

  margin: 0px;
  text-align: center;


}
