.container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	/*text-align: center;*/
	min-height: 100vh;
	font-family: "Arial";

}

.btn{
 	width: 300px;
 	height: 100px;
 	border: none;
 	color: white;
 	text-align: center;
 	background-color: white;
 	box-shadow: inset 300px 0 0 0 black; 
 	transition: ease-out 0.8s;
 	font-size: 2rem;
 	outline: none;

}


.btn:hover{
	box-shadow: inset 300px 0 0 0 white;

}
.btn2{
	width: 300px;
 	height: 100px;
 	border: none;
 	color: black;
 	text-align: center;
 	background-color: black;
 	box-shadow: inset 300px 0 0 0 white; 
 	transition: ease-out 0.8s;
 	font-size: 2rem;
 	outline: none;

}

.btn2:hover{
	box-shadow: inset 300px 0 0 0 black;
}


