body {
    background-image: url(GRINI/test.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

img {
    position: fixed; top: 300px; left: 500px; width: 500px
}

p {
    position: fixed; top: 80px; left: 200px; width: 700px;
    font-size: 70px;
    font-family: 'Just Me Again Down Here', cursive;
    color: #fff5bb;
}

p1 {
     position: fixed; top: 250px; left: 200px; width: 700px;
    font-size: 70px;
    font-family: 'Just Me Again Down Here', cursive;
    color: cornsilk;
}

p2 {
    position: fixed; top: 350px; left: 70px; width: 500px;
    font-size: 50px;
    font-family: 'Just Me Again Down Here', cursive;
    color: cornsilk;
}

p3 {
    position: fixed; top: 200px; right: 20px; width: 700px;
    font-size: 50px;
    font-family: 'Just Me Again Down Here', cursive;
    color: cornsilk;
}

p4 {
    position: fixed; top: 350px; right: 15px; width: 700px;
    font-size: 45px;
    font-family: 'Just Me Again Down Here', cursive;
    color: cornsilk;
}

p5 {
    position: absolute; bottom: 100px; right: 100px;
    font-size: 50px;
    font-family: 'Just Me Again Down Here', cursive;
    color: cadetblue;
    background-color: floralwhite;
}