body {
    background-image: url(SHUNE/zoomzoom.jpg);
    background-size: cover;
    background-repeat: no-repeat
}

img {
    position: fixed; top: 100px; width: 800px; left: 200px;
}

p {
    position: fixed; top: 215px; left: 60px; width: 500px;
    font-size: 50px;
    font-family: 'Goldman', cursive;
    color: cornsilk;
}

p1 {
    position: fixed; bottom: 150px; right: 200px; width: 500px;
    font-size: 40px;
    font-family: 'Goldman',cursive;
    color: crimson;
    background-color: cornsilk;
}