#brasG:hover{
     animation-duration: 1s;
  animation-name: slidein;
}


@keyframes slidein {
  from {
   transform: translate(0, 0);
  }

  to {

   transform: translate(10px, 10px);
    }
}


body {
    
    
    
    
}