
a {
    padding-top: 250px;
}

#button{
    font-size: 25px;
    font-family: 'Advent Pro', sans-serif;
    margin: 0 auto;
    text-align: center; 
    color: red;
    display : block;
}
#finalAim{
    font-size: 25px;
    font-family: 'Advent Pro', sans-serif;
    color:white;
    margin: 0 auto;
    text-align: center; 
    padding: 10px;
    margin-top: 10px;
    display: block;
}
body{
background-color: black;
}