body {
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}
p{
    color: #270001;
    font-family: monospace, "Courrier New";
    font-style: oblique;
    font-weight: bold;
    font-size: 20px;
    position: absolute
    
}


#Background {
    position: absolute;
    height: 100%;
    width: 100%;
    
}

#Titre {
    z-index: 3;
    position: absolute;
    height: 12%;
    left: 50%;
    transform: translate(-50%,0);
    top: 15%;
    opacity: 0%;
    animation-duration: 1s;
    animation-name: title;
    animation-delay: 1.5s;  
    animation-fill-mode: forwards;
    }

@keyframes title {
    0% {opacity: 0%;}
    100% {opacity: 100%}
}
#Texte {
  
    height: 16%;
    position: absolute;
    top: 40%;
    width: 30%;
    left: 50%;
    transform: translate(-50%,0);
    background-color: #fce0e0;
    border-style: solid;
    border-width: 6px;
    border-color: #270001;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    overflow: hidden;
    opacity: 0%;
    animation-duration: 1s;
    animation-name: text;
    animation-delay: 3s;  
    animation-fill-mode: forwards;
    }

@keyframes text {
    0% {opacity: 0%;}
    100% {opacity: 100%}
}
p:hover {
 color:#932023;
}